
.leiste {
    background-color: black;
    top: 0;
    height:10%;
    text-align: center;
  }
  
  /*.menü #myLinks {
    display: none; //text nicht unterstrichen
  }*/
  
  .leiste a {
    color: orange;
    margin-right: 10%;
    margin-top: 50%;
    text-decoration: none; /*Logo nicht unterstrichen*/
    font-size: 30px;
    transition: font-size .5s ease;
    /*padding: 30px;
    padding-top: 50px;*/

    
  }

  /*#ebookHub{
    padding-left: 10px;
  }*/
  
  .leiste a:hover {
    /*background-color: #d3d3d3;*/
    color: red;
    padding-top: 10px;
    font-size: 3em;
    

  }