* {box-sizing: border-box}
body {margin:0;
    background-color:#8A9094;
}


@font-face{
    font-family: X-Files;
    src: url(x-files.tff);
}

.navElemente {
    margin: 0;
    padding: 0;
}

#title_font{
	margin: 0;
    padding: 0;
}


#navigation {
    background-color: #444048;
    color: #FF8A11;
    position: fixed;
    width: 100%;
    height: 10%;
    min-height: 115px;
}

#titel {
    font-size: 3.3em;
    color: white;
    font-family: X-Files;
    float: left;
    margin-left: 3%;
    margin-top: 2%;
}

#selectNav {
    margin-left: 48%;
    width: 46%;
}

#selectNav a {
    color: #FF8A11;
    text-decoration: none;
    font-size: 1.4em;
    padding-right: 10%;
}

#selectNav a:hover {
    border-top: solid #FF8A11 2px;
}

#warenkorb {
    width: auto;
    height: 25px;
}

#logo {
    background: url(Logo.png);
    background-size: contain;
    position: absolute;
    margin-left: 90%;
    margin-top: 1%;
    top: 0;
    width: 50px;
    height: 55px;
}

.navElemente {
    margin-top: 2%;
}

/* #main is now included in .author_body_container */

#shop_headline{
	margin-left:1%;
	color: #444048;
}

#footer {
    background-color: #444048;
    width: 100%;
    height: 10%;
    display: inline-block;
    min-height: 100px;
}

#footer a {
    color: #FF8A11;
    text-decoration: none;
    padding-right: 20%;
}

#selectFooter {
    margin-left: 30%;
    padding-top: 2%;
    width: 46%;
}

#selectFooter a:hover {
    border-top: solid #FF8A11 2px;
}

#copyright {
    background: url(Copyright.png);
    background-size: contain;
    position: relative;
    margin-left: 96%;
    bottom: 19%;
    margin-right:2%;
    width: 38px;
    height: 40px;
}

#filter_box{
	background-color: #444048;
	height: auto;
	width: auto;
	padding:2%;
	border-radius:35px;
}


/* Body  Box */
.shop_body_container {
	background-color: #8A9094;
	width:100%;
	height:auto;
	padding-bottom:4%;
	padding-top:8%;
	padding-left: 2%;
	padding-right: 2%;
	color:white;
}


.Left_container{

	float:left;
	height:100%;
	width:15%;
}




.searchbar_container{
	display:inline-block;
	padding-top:1%;
	width:70%;
	height:70px;
	margin-left:2%;
	margin-bottom:2%;
}


input[type="text"] {
	padding-left:1%;
	font-size:1em;
	width:90%;
	height:90%;
	border: 1px solid #444048;
	border-radius:15px;
}


button[type="submit"] {
	min-width:40px;
	border: 1px solid #444048;
	width: 6%;
	height:90%;
	border-radius:15px;
}









.slidecontainer {
    width: 75%;
    margin-left: 10px;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    /*border-radius: 5px;*/
    background: orange;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    /*border-radius: 50%;*/
    background: orange;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    /*border-radius: 50%;*/
    background: #4CAF50;
    cursor: pointer;
  }

  .Space{
      word-spacing: 25px;
  }

  .plus{
      float: right;
  }
  
  .minus{
      float: left;
  }



  /* Star rating */

 

.checked_star {
    color: orange;
  }




  
  
/* Inside of artikel_buble */

.artikel_buble{
	display:inline-block;
	background-color: #444048;
	height: 30%;
	width: 27%;
	margin-left:1%;
	margin-bottom:1%;
	border-radius:5%;
	
}


.artikel_img_container{
	float:left;
	background-color:green;
	margin:2%;
	border-radius:7%;
	height:96%;
	width:40%;
}

.artikel_text_container {
	padding-left:2%;
	padding-right:1%;
	border: 2px solid #8A9094;
	border-radius:7%;
	display:inline-block;
	height:96%;
	width:54%;
	margin-right:2%;
	margin-top:2%;
	margin-bottom:2%;
}



.rating_container{
	font-size:1.7em;
}


.Author_attribute_tag{
	color:#FF8A11;
	font-size:1.5em;
}

.Author_attribute{
	font-size:1.2em;
	padding-left:1.8%;
}

.Price_attribute{
	color:#FF8A11;
	float:right;
	font-size:2em;
}