#beschreibung {
    color: #444048;
    width: 90%;
    height: 40px;
    padding-top: 6%;
    padding-left: 2%;
}

#titel a {
    text-decoration: none;
    color: white;
}

#first {
    position: absolute;
    background-color: #444048;
    width: 32%;
    height: 60%;
    top: 20%;
    left: 3%;
    border-radius: 79px;

    padding-top: 2%;
    padding-left: 2%;
}

#first p {
    color: white;
    font-size: 1.5em;
    padding-top: 4%;
}

#first p.text-orange {
    color: #FF8A11;
    padding-top: 9%;
}

#first button {
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: #FF8A11;
    border: none;
    border-radius: 79px;
    width: 30%;
    height: 8%;
    margin-top: 5%;
}


#second {
    position: absolute;
    background-color: #444048;
    width: 55%;
    height: 60%;
    top: 20%;
    right: 3%;
    border-radius: 79px;

    padding-top: 2%;
    padding-left: 2%;
}

#second table{
    border-collapse: separate;
    width: 95%;
}

#second tr {
    color: #FF8A11;
}

#second td {
    text-align: left;
    padding: 1%;
    font-size: 1.5em;
}

#second th {
    text-align: left;
    border-bottom: 2px solid #FF8A11;
    color: white;
    font-size: 2em;
    padding-bottom: 2%;
}

#second td.preise, th.preise {
    text-align: right;
    padding-left: 6%;
}

#second td.ergebnis {
    padding-top: 2%;
    color: white;
    border-top: 4px solid white;
    font-weight: bold;
    font-size: 2em;
}

#printer {
    background: url(../sources/printer.png);
    background-size: contain;
    position: absolute;
    right: 5%;
    margin-bottom: 3%;
    bottom: 0;
    width: 25px;
    height: 25px;
    border: none;
}


