#beschreibung {
    color: #444048;
    width: 90%;
    height: 40px;
    padding-left: 2%;
}

#titel a {
    text-decoration: none;
    color: white;
}

#first {
    position: absolute;
    background-color: #444048;
    width: 20%;
    height: 60%;
    top: 20%;
    left: 3%;
    border-radius: 79px;

    padding-top: 2%;
    padding-left: 2%;
}

#bild {
    background: url(../sources/Moby_Dick_-_cover_lowres.jpg);
    background-size: contain;
    width: 67%;
    height: 70%;
    border-radius: 50px;
}

#first table {
    width: 90%;
    height: 10%;
    margin-top: 3%;
    color: white;
    text-align: left;
}

#first td {
    padding-top: 5%;
}

#first th {
    font-weight: bold;
}

#second {
    position: absolute;
    background-color: #444048;
    width: 65%;
    height: 60%;
    top: 20%;
    right: 3%;
    border-radius: 79px;

    padding-top: 2%;
    padding-left: 2%;
}

#second p.headline {
    color: white;
    font-size: 2em;
    padding: 2%;
}

.checked_star {   
    color: orange; 
}

#second div.stars {
    color: white;
    font-size: 2em;
    padding-left: 2%;
    margin: 5% 0%;
}

#rating {
    width: 30%;
    height: 90%;
    float: left;
    margin-left: 2%;
}

#select_and_confirm {
    width: 60%;
    height: 90%;
    margin: 0% 3%;
    float: right;
}

#book {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.img_Buch{
	width: 220px; 
	height:300px; 
    border-radius: 30px;

}

#book a {
    color: white;
    text-decoration: none;
    margin: 4% 10%;
    font-size: 1.5em;
}

#confirm_container {
    width: 100%;
    height: 20%;
}

#confirm {
    color: white;
    font-weight: bold;
    font-size: 1em;
    background-color: #FF8A11;
    border: none;
    border-radius: 79px;
    width: 15%;
    height: 30%;    
    margin-left: 80%;
    margin-top: 8%;
}