#beschreibung {
    color: #444048;
    width: 90%;
    height: 40px;
    padding-top: 6%;
    padding-left: 2%;
}



button:hover{
    cursor:pointer;
}

.main{
    width: auto;
    height: 1000px;
}

#first {
    background-color:beige ;
    background: url(../sources/eBook-Reader-in-Buecherregal-658x370-0e0b935072d99e2a.jpg);
    float:left;
    display: block;
    width: 400px;
    height: 400px;
    border-radius: 79px;
    margin: 2%;
}


#subtext {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    width: 30%;
    margin-left: 4%;
}

#second {
    height: 600px;
    width: 860px;
    margin-left: 30%;
    display: block;
    position: relative;
    background-color: #444048;
    border-radius: 79px;
    padding-top: 2%;
    padding-left: 2%;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    
    display: flex;
    flex-wrap: wrap;
}

#container0 {
    height: 40%;
    width: 50%;
}

#heading {
    margin-left: 1%;
    margin-top: 18%;
    height: 5%;
}

#second div.container {
    background-color: #8A9094;
    width: 30%;
    height: 35%;
    font-weight: normal;
    font-size: small;
    margin-left: 2%;
}

#top {    
    margin-left: 1%;
    margin-top: 2%;
}

#second div.container p {
    padding: 2%;
}

#second p {
    padding-bottom: 2%;
}

#second span {
    color: #FF8A11;
}

.container{
    min-height: 200px;
    min-width: 150px;
}

#second button.logos {
    background-size: contain;
    background-repeat: no-repeat;
    width: 6%;
    height: 13%;
    border: none;
    margin: 2%;
    float: left;
}

#logo1 {
    background: url(../sources/1200px-Instagram_logo_2016.svg.png);   
}

#logo2 {
    background: url(../sources/facebook-logo-png-5a35528eaa4f08.7998622015134439826976.jpg);   
}

#logo3 {
    background: url(../sources/png-transparent-github-social-media-computer-icons-logo-android-github-logo-computer-wallpaper-banner.png);   
}

#logo4 {
    background: url(../sources/unnamed.png);   
    border-radius: 79px;
}

#pic1 {
    background: url(../sources/JadaSearle.png);   
}

#pic2 {
    background: url(../sources/DavidHon.png);
}

#pic3 {
    background: url(../sources/SavannePrince.png);
}

#pic4 {
    background: url(../sources/JamboRhanjid.png);
}

#second div.pictures {
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    height: 30%;
    border: none;
    margin: 2%;
}


