#widerrufsrecht {
    color: #444048;
    width: 20%;
    height: 10%;
}

#first {
    display: inline-block;
    word-break:normal;
    background-color: #444048;
    width: 100%;
    height: auto;
    top: 15%;
    border-radius: 20px;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    left: 3%;
    right: 3%;
}