


* {box-sizing: border-box}

body {margin:0}

/*
background-color:grey
*/

/* Body  Box */
.author_body_container {
	width:100%;
	height:auto;
	padding-left: 4%;
	padding-right: 9%;
	color:white;
}


.Author_name{
	word-spacing: 20em;
}


.author_buble{
	background-color: #444048;
	height: 55px;
	width: 100%;
	margin-bottom:1%;
	border: 2px solid #444048;
	border-radius:35px;
	padding-left:2%;
}


.searchbar_container{
	padding-top:1%;
	width:70%;
	height:60px;
	margin-bottom:2%;
}


input[type="text"] {
	font-weight:200;
	width:70%;
	height:75%;
	border: 1px solid #444048;
	border-radius:8px;
}


button[type="submit"] {
	border: 1px solid #444048;
	width: 4%;
	height:75%;
	border-radius:8px;
}

