


* {box-sizing: border-box}

body {margin:0}

/*
background-color:grey
*/

/* Body  Box */
.author_body_container {
	width:100%;
	height:auto;
	padding-left: 4%;
	color:white;
}



.searchbar_container{
	padding-top:1%;
	padding-left:1%;
	width:60%;
	height:60px;
}


input[type="text"] {
	font-weight:200;
	width:70%;
	height:75%;
	border: 2px solid green;
	border-radius:10px;
}


button[type="submit"] {
	border: 2px solid green;
	width: 10%;
	height:75%;
	border-radius:10px;
}

