
* {box-sizing: border-box}
body {margin:0; background-color:#444048}


@font-face{
    font-family: X-Files;
    src: url(x-files.tff);
}

.navElemente {
    margin: 0;
    padding: 0;
}

#title_font{
	margin: 0;
    padding: 0;
}


#navigation {
    background-color: #444048;
    color: #FF8A11;
    position: fixed;
    width: 100%;
    height: 10%;
    min-height: 115px;
}

#titel {
    font-size: 3.3em;
    color: white;
    font-family: X-Files;
    float: left;
    margin-left: 3%;
    margin-top: 2%;
}

#selectNav {
    margin-left: 48%;
    width: 46%;
}

#selectNav a {
    color: #FF8A11;
    text-decoration: none;
    font-size: 1.4em;
    padding-right: 10%;
}

#selectNav a:hover {
    border-top: solid #FF8A11 2px;
}

#warenkorb {
    width: auto;
    height: 25px;
}

#logo {
    background: url(Logo.png);
    background-size: contain;
    position: absolute;
    margin-left: 90%;
    margin-top: 1%;
    top: 0;
    width: 50px;
    height: 55px;
}

.navElemente {
    margin-top: 2%;
}



#footer {
	
	display:inline-block;
    background-color: #444048;
    width: 100%;
	min-height:100px;
    height: 10%;   
}


#top_container{
	height:auto;
}

.biographie_buble{
	margin-right:10%;
	margin-bottom:10%;
	background-color: #444048;
	height:auto;
	width: 69%;
	border-radius:30px;
	padding-left:2%;
	margin-top: 10%;
	display:inline-block;
}


.author_image{
	margin-bottom:10%;
	float:left;
	margin-top: 10%;
	height:100%;
    width: 19%;
    margin-left: 1%;
	margin-right:1%;
}

#kurzbeschr_headline{
	margin-top:5%;
	font-size:1.6em;
	font-weight:bold;
}

#back_button{
	float:left;
	background-color:#8A9094;
	color:white;
}

#cart_button{
	background-color:#FF8A11;
	color:white;
	float:right;
	margin-right:10%;
}

.buttons{
	margin-top:10%;
	margin-bottom:10%;
	border:0px;
	border-radius:100px;
	width:15%;
	min-width:180px;
	height:60px;
	font-size:1.3em;
}

.buttons:hover{
	cursor:pointer;
}


#footer a {
    color: #FF8A11;
    text-decoration: none;
    padding-right: 20%;
}

#selectFooter {
    margin-left: 30%;
    padding-top: 2%;
    width: 46%;
}

#selectFooter a:hover {
    border-top: solid #FF8A11 2px;
}

#copyright {
    background: url(Copyright.png);
    background-size: contain;
    position: relative;
    margin-left: 96%;
    bottom: 19%;
    margin-right:2%;
    width: 38px;
    height: 40px;
}





/* Body  Box */
.author_body_container {
	background-color:#8A9094;
	width:100%;
	height:100%;
	padding-left: 4%;
	color:white;
	padding-top: 0.5%;
}








img{
	border-radius: 30px;
	width: 100%;
}


.price_tag{
	color:#FF8A11;
	font-size:1.8em;
	float:right;
	margin-right:2%;
}

.book_attributes_tag{
	float:left;
	padding-right:4%;
	width:auto;
	font-size:1.6em;
	font-weight:bold;
}


.book_attributes{
	display:inline-block;
	padding-right:4%;
	width:auto;
	font-size:1.6em;

}

/* Star rating */

.checked_star {
  color: orange;
}


.Kurzbeschreibung{
	font-weight:bold;
	
}




.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}