#datenschutzerklärung {
    color: #444048;
    width: 90%;
    height: 40px;
    padding-top: 6%;
    padding-left: 2%;
}

#first {
    position: -webkit-sticky;
    background-color: #444048;

    top: 18%;
    left: 3%;
    border-radius: 79px;

    padding-top: 2%;
    padding-left: 2%;
}

p {
    color: white;
}