@font-face{
    font-family: X-Files;
    src: url(x-files.tff);
}

* {
    margin: 0;
    padding: 0;
}

#navigation {
    background-color: #444048;
    color: #FF8A11;
    position: fixed;
    width: 100%;
    height: 10%;
    min-height: 115px;
}

#titel {
    font-size: 3.3em;
    font-family: X-Files;
    float: left;
    margin-left: 3%;
    margin-top: 2%;
}

#titel a {
    text-decoration: none;
    color: white;
}

#selectNav {
    margin-left: 48%;
    width: 46%;
}

#selectNav a {
    color: #FF8A11;
    text-decoration: none;
    font-size: 1.4em;
    padding-right: 5%;
}

#selectNav a:hover {
    border-top: solid #FF8A11 2px;
}

#warenkorb {
    width: auto;
    height: 25px;
}

#logo {
    background: url(Logo.png);
    background-size: contain;
    position: absolute;
    margin-left: 90%;
    margin-top: 1%;
    top: 0;
    width: 50px;
    height: 55px;
}

.navElemente {
    margin-top: 2%;
}

#main {
    background-color: #8A9094;
    width: 100%;
    height: 90%;
    padding-top: 9%;;
}

#footer {
    background-color: #444048;
    width: 95%;
    padding-top:3%;
    padding-right: 5%;
    min-height: 70px;
}

#footer a {
    color: #FF8A11;
    text-decoration: none;
    margin: 0% 10%;
    float: left;
    padding-top:0.5%;
}


#selectFooter a:hover {
    border-top: solid #FF8A11 2px;
}

#copyright {
    background: url(Copyright.png);
    background-size: contain;
    width: 38px;
    height: 40px;
    float: right;
}